body, html, #root {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #fff;
  height: 100%;
}

.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#background-video-1 {
  align-content: center;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh; /* Provide enough scrollable space */
  padding-top: 20vh; /* Add space before the video appears */
}

.sticky-video {
  top: 50%; /* Stick the video in the middle of the viewport */
  transform: translateY(-50%); /* Center the video vertically */
  width: 50vw; /* Set the width of the video */
  height: auto;
  object-fit: cover; /* Ensure the video maintains its aspect ratio */
  z-index: 1; /* Make sure it's on top of other elements */
}

.sticky-video.unstuck {
  position: relative; /* Change position to relative after playback */
  top: auto;
  transform: none; /* Reset the transform */
}